.checkout-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pay-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.pay-item-image{
    width: 7.5em;
    height: 7.5em;
}

.pay-item-info{
    margin-top: 5em;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.pay-items-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.pay-item-container{
    height: 6.5vh;
    &:last-child{
        margin-bottom: 6vh;
    }
}

.checkout-header{
text-decoration: underline;
}


.pay-item-price{
    font-weight: 400;
    width: 10%;
}

.pay-item-name{
    font-weight: 400;
    text-align: start;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.checkout-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkout-button{
    margin-top: 5em;
    width: 100%;
    margin-bottom: 3em;
}

.checkout-items-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2.5em;
    margin-bottom: 2.5em;

    &:last-child{
        margin-bottom: 1.5em;
    }
}

.checkout-item{
    &-container{
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    &-image{
        margin-right: 2em;
        width: 20em;
        height: 20em;
        background-size: cover;
        background-position: top right;
    }
}