.categories-container{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.category-heading{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0.75em;
}

.category-full-container{
    margin-right: 1.5em;
    width: 15%;
}

.category-container{
    display: flex;
    margin-right: 13em;
    height: 32vh;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    &:last-child{
        margin-right: 0;
    }
}
